ul li {
  display:inline-block;
}

body {
  color: white;
  text-align: center;
  
}
.menu {
  background-image: url("https://imgur.com/FGjJh2p");
  font-weight: 600;
}
table{
  background-color: grey;
  width: 100%;
}
