ul li {
  display:inline-block;
}

body {
  color: white;
  text-align: center;
  
}
.menu {
  background-image: url("https://i.imgur.com/FGjJh2p.jpg");
  font-weight: 600;
}
table{
  background-color: lightgrey;
}
