
*{
    box-sizing: border-box;
}

body{
    margin:0;
}

nav ul{
    margin:0;
    overflow:hidden;
    background-color:black;
    display:block;
    width:100%;
    height:55px;
    position:fixed;
}
li{
    font-size:20px;
    list-style-type: none;

}
li a{ 
    float:left;
    text-decoration: none;
    padding: 16px 16px;
    color:white;
    text-align: center;
    
}
li a:hover{
    color:black;
    background-color:darkgrey;
}
.logo-img{
    background-image:url("https://media.istockphoto.com/photos/friends-enjoying-a-meal-picture-id627873424?k=20&m=627873424&s=612x612&w=0&h=Clq6Dztg_Xh2wqBPVHImbPPOZ4a2pz7L-c7bEZ9DGS4=");
    width:100%;
    height:400px;
    margin-top:0;
    background-repeat: no-repeat;
    background-size: cover;
    display:grid;
    justify-content: space-around;
    padding-top:50px;
}
.logo-img img{
    margin-top:0;
    width:300px;
    height:200px;
}
main {
    background-image: url("https://images.unsplash.com/photo-1654713803623-3d2b9d39f6b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    margin-top:0;
    color:brown;
    text-align:center;
}


.grid-selection{

    display:grid;
 gap: auto;

}

.items{
    background-color:azure;
    margin:20px;
    color:black;
    font-size: 20px;
    padding:0;
   opacity:0.7; 
  display:inline-grid; 
    grid-template-rows:auto auto auto; 
    justify-content: center;
    width:30%;
    height:300px;
    overflow: auto;
    row-gap: 20px;

}
tr{
    border-spacing: 5em;
    justify-content: space-around;
}
td{
    
  margin-top:0;
  color:black;
  font-size: 20px;
  padding-right:20px;
  padding-left: 20px;
  text-align:center; 
 
}
td img{
  width:200px;
  height:200px;
  padding:20px;
}

td:hover{
    color:crimson ;
}

  
footer{
    background-image: url("https://images.unsplash.com/photo-1611759650297-9fd869c36f61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100px;
    font-size:xx-large;
    text-align: center;
    padding:90px;
}


