* {
    margin:0;
    padding:0;
    background-color: #a1b28d;
    font-family: cursive;
}
.logo-div{
    display:flex;
    height:200px;
    min-width:960px;
    background-color: black;
}
.logo-div img{
    background-color: black;
}
.delivery-logo{
    display: flex;
    height:200px;
    width:300px;
    align-items:center;
    margin-left: 60px;
    background-color: black;
    
}
.delivery-logo a{
    background-color: black
}
.delivery-logo img{
    width:55%;
    background-color: black;
    margin: auto;
}
.nav-ul {
    height:150px;
    display: flex;
    justify-items: right;
    background-color: black;
    text-align: center;
}




.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-left:60px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    top:50px;
    background-color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(220, 212, 212, 0.2);
    z-index: 1;
  }
  .dropbtn a {
      background-color: #04AA6D;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #a1b28d;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

.dessert-nav-container {
    background-color: black;
    margin:auto;
    }
    
li {
    margin:auto;
    padding:40px;
    background-color: black;
    margin-left:50px;
}

a {
    background-color: black;
    color:white;
    font-family: cursive;
    font-size: medium;
}

.dessert-table {
    margin:auto;
    border-collapse: separate;
    border-spacing: 5px;
    height:1300px;
    background-color: #a1b28d;
}

.dessert-table img{
    border-radius: 15px;
    border:3px solid black;
}
video{
    object-fit: fill;
}
.dessert-video {
  text-align: center;
  background-color: black;
  min-width: 960px;
  height:800px;
}
.div-under-video{
    height:400px;
    background:transparent;
    text-align: center;
    margin:auto;
    min-width:960px;
    z-index:5;
    background-color:black;
    color:whitesmoke
    
}
.div-under-video h1{
    background-color: black;
    margin-bottom: 100px;
}
.div-under-video p {
    background-color: black;
    color:whitesmoke;
    line-height: 50px;
}
.hr-line {
    margin: auto;
    margin-top: 50px;
    background-color: black;
    color: whitesmoke;
}

#dessert-footer{
    height:400px;
    background-color: black;
    min-width: 960px;
}
.footer-top-container {
    display: flex;
    background-color: black;
}

#footer-1st-div {
    height:280px;
    min-width:650px;
    background-color:black;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.footer-p{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    margin-top: 30px;
}

.social-media{
    text-align: center;
    background-color: black;
    margin: auto;
    
  
}
.social-media img {
    width:5%;
    margin: 15px;
}
.food-moto img{
    width:50%;
    text-align: center;
    background-color: black;
}
.food-moto {
    background-color: black;
}