@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400, 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v26/HhyaU5sn9vOmLzloC_U.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

nav {
  font-family: 'Dosis';
}

header {
  background-color: rgba(47, 47, 47, 0.90);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

header img {
  margin: 12px 40px;
  height: 64px;
  float: left;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

nav a {
  float: left;
  display: block;
  color: white;
  padding: 30px 50px;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 5px;
}

a:hover {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 20px;
  background-color: rgba(17, 17, 17, 0.521);
  backdrop-filter: blur(10px);
}

.body-main {
  background-image: url("../images/restaurant pic.jpg");
  height: 500px;
  width:  100%; 
}

.body-appetizer {
  background-image: url("../images/bg-texture.jpg");
}

table {
  border-collapse: collapse;
  padding: 20px;
  width: auto;
}

th, td {
  border: 2px solid black;
  background-color: orangered;
  padding: 20px;
   
}
.title {
  background-color: rgb(66, 0, 128);
  font-weight: bold;
  color: white;
}
.image {
  background-color: white;
}
.price {
  font-weight: bolder;
  background-color: rgb(66, 0, 128);
  color: white;
}
.description {
  background-color: gold;
  color: rgb(66, 0, 128);
}
.header {
  background-color: white;
  color: black;
}
