
@import url('https://fonts.google.com/specimen/Indie+Flower');

body {
  background-color: #778da9;
}

.card {
  perspective: 150rem;
  position: relative;
  height: 40rem;
  max-width: 400px;
  margin: 2rem;
  box-shadow: none;
  background: none;
}

.card-side {
  height: 35rem;
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding:2rem;
  color: white
}

.card-side.back {
  transform: rotateY(-180deg);
  background-color: #1d3557;
}

.card-side.front {
  background-color: #457b9d;
}

.card:hover .card-side.front {
  transform: rotateY(180deg);
}

.card:hover .card-side.back {
  transform: rotateY(0deg);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.44rem;
  padding: 0 12%;
  font-family: Verdana, sans-serif;
  font-size: .77rem;
  font-weight: bol;
  opacity: 0.4;
}

.header a {
text-decoration: none;
font-size: 25px;
font-weight: 600;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  justify-content: start;
  align-items: start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.menu{
  word-spacing: 25%;
}
