html, body {
  height: 100%;
  width: 100%;

}
table {
  font-family: 
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  color:   #2464B0;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
header, h2 {
  color: #C69B6D
  
}
body{
  background-image: url();
 
}
